# Önce her şeyi ignore et
*

# Bu üç şeyi sakla
!.gitignore
!flows.json
!context/

# context içindeki her şeyi ignore et
context/*

# ama alt klasörlerdeki flow.json dosyalarını al
!context/*/flow.json

